@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #edc7b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p {
    text-align: center;
    line-height: 1.8em;
    font-size: 1rem;
    padding: 0.5em;
    color: #123c69;
}

img {
    height: 3rem;
    margin: 0.25em;
}